<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <div class="login-container">
        <h2>Register</h2>
        <div id="register-error-msg" style="display:none;"></div>
        <form id="register-form" class="auth-form">
            <div class="input-group">
                <input type="text" id="username" placeholder="Username" required>
            </div>
            <div class="input-group">
                <input type="email" id="email" placeholder="Email" required>
            </div>
            <div class="input-group">
                <input type="password" id="password" placeholder="Password" required>
            </div>
            <div class="input-group">
                <input type="text" id="full_name" placeholder="Full Name" required>
            </div>
            <div class="input-group">
                <input type="date" id="birth_date" required>
            </div>
            <button type="button" id="register-btn" class="register-btn">Register</button>
            <div class="remember">
                <a href="#" id="login-link">Back to Login</a>
            </div>
        </form>
        <div class="footer">© 2025 36 Electronic Shop</div>
    </div>
    <script src="{{ url_for('static', filename='js/login/register.js') }}"></script>
</body>

</html>